#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#label{
	font-size: 32pt;
	font-family: Garamond, serif;
	text-align: center;
	font-weight: normal;
}

#text{
	font-size: 14pt;
	font-family: Garamond, serif;
	text-align: center;
	font-weight: normal;
}

.flex{
	display: flex
}

.flex-child{
	flex: 1
}

.flex-child:first-child{
	margin-right: 20px;
}