#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#label{
	font-size: 32pt;
	font-family: Georgia, serif;
	text-align: center;
	font-weight: bold;
<<<<<<< HEAD
}
=======
}
>>>>>>> c72301d7aed2c67efa0a6c2be6b4629e091264bf
